.header{
  background-color: aqua;
  color: white;
  text-align: center;
  font-size: 3rem;
  padding:20px;
}

.navCom{
  background-color: green;
  color: white;
  text-align: center;
  font-size: 3rem;
  height: 500px;
}

.content{
  background-color: cadetblue;
  color: white;
  text-align: center;
  font-size: 3rem;
  height: 500px;
}

.footer{
  background-color: blue;
  color: white;
  text-align: center;
  font-size: 3rem;
  padding:20px;
}